Source: godot
Section: games
Priority: optional
Maintainer: Kienan Stewart <kienan.stewart@burntworld.ca>
Build-Depends: debhelper (>= 9), clang, scons, libx11-dev, libxinerama-dev, libxcursor-dev, libxrandr-dev, libfreetype6-dev, libpng-dev, libasound2-dev, libpulse-dev, zlib1g-dev, libgl1-mesa-dev, libstdc++-6-dev, libgcc-6-dev, libssl-dev, libglu1-mesa-dev
Depends: libx11, libxinerama1, libxcursor1, libxrandr2, libfreetype6, libpng16-16, libasound2, libpulse0, zlib1g, libgl1-mesa-glx, libgcc1
Standards-Version: 3.9.8
Homepage: https://godotengine.org
Vcs-Git: https://github.com/godotengine/godot.git
Vcs-Browser: https://github.com/godotengine/godot

Package: godot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Full 2D and 3D game engine with editor
 Godot is an advanced, feature packed, multi-platform 2D and 3D game engine.
 It provides a huge set of common tools, so you can just focus on making
 your game without reinventing the wheel.
